/* 
    Document   : home
    Created on : 15.07.2011, 15:59:55
    Author     : claudiapfeil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
  font-family: Helvetica-Light, sans-serif;
  font-size: 12pt;
  color: grey;
}

#right{
  position: relative;
  display:inline-block;
  float: right;
  width: 200px;
  margin-right: 4em;
}

#right_line{
  display:inline-block;
  float: right;
  width: 200px;
  margin-right: 4em;
}

#left{
  position: relative;
  display:inline-block;
  float:left;
  width: 200px;
  margin-left: 5.75em;
}

#image {
  margin-top: 20em;
  margin-left: 4em;
}

#box {
  position:relative;
  width:610px;
  height: 400px;
  margin-top: 20em;
  margin-left:60em;
  align:center;

}

