/* 
    Document   : home
    Created on : 15.07.2011, 15:59:55
    Author     : claudiapfeil
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
          font-family: Helvetica-Light, sans-serif;
          font-size: 12pt;
          color: grey;
        }

        #right{
          display:inline-block;
          float: right;
          width: 200px;
          margin-right: 64em;
        }

        #left{
          display:inline-block;
          float:left;
          width: 200px;
          margin-left: 66em;
        }

